.todo {
	&__form {
		display: flex;
		margin: 0 0 50px 0;
	}

	&__input {
		border: none;
		border-radius: 2px;
		display: inline-block;
		height: 25px;
		outline: 0;
		padding: 10px;
		transition: all 0.8s;
		width: 100%;

		&::placholder {
			color: #CCC;
		}

		&:hover, &:focus,
		&:hover + .bf-search-button,
		&:focus + .bf-search-button {
			box-shadow: 0 10px 16px -6px rgba(102, 102, 102, 0.2);
		}
		&:hover > .icon, &:focus .icon {
			fill: #483d8b;
		}
	}

	&__btn {
		background: {
			color: #0066FF;
		}
		border: none;
		border:{
			bottom: 1px solid #0066FF;
			right: 1px solid #0066FF;
			top: 1px solid #0066FF;
		}
		cursor: pointer;
		display: flex;
		justify-content: center;
		transition: all .8s;
		width: 50px;

		&:hover {
			background-color: darken(#0066FF, 10%);
		}
		.icon {
			fill: #fff;
			height: 15px;
			width: 15px;
		}
	}

}
